 /*הגדרות עיצוב כלליות לתוכן העמוד*/
body{
    direction: rtl;
    text-align: right;
    background-color: #ddb69c;
    font-family: Calibri, sans-serif, Arial, Verdana, "Trebuchet MS";
}
/* דאגנו להורשה לכל האלמנטים שמכילים טקסט בכדי שהאתר יציג באחידות את הפונטים המועדפים עלינו, , דבר החוסך בקוד ובזמן פיתוח */
p, a, h1, h2, h3, h4, h5, h6, span{
    font-family: inherit;
}
/*בחירת הצבע בשימוש במקלדת בזמן הפוקוס לנגישות האתר */
A:focus:hover {
	
    color: #175352 !important;
}

/*קביעת הגודל המקסימלי של התמונות באתר*/
img{
    max-width: 100%;
}

/*נועד לעימוד ולעיצוב אלמנטים */
.mt-10{
    margin-top: 0;
}

.pr-6{
    padding-right: 3.5rem !important;
}
.pr-7{
    padding-right: 4.25rem !important;
}
.negative-margin{
    margin-top: -2rem;
}

.no-padding{
    padding-right: 0;
    padding-left: 0;
}

/*קביעת התפריט העליון כקבוע בגלילה הצבע הגודל והשקיפות שלו */
.top-wrapper{
    background-color: rgba( 255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    max-width: 1336px;
    z-index: 999;
    transition: all 0.4s;
    right: 0;
    left: 0;
    margin: 0 auto;

}

/*קביעת הגודל ההתחלתי של הלוגו ומהירות הטרנזקציה שלו */
.main-logo img{
    height: 100px;
    transition: all .4s;
}

/*עימוד ועיצוב הטקסט בתפריט העליון כטבלה*/
header nav{
    padding-top: 12px;
    display: table;
    width: 100%;
}
/*display: flex; justify-content: space-between; align-items: center;*/
header nav > ul {
    display: table-row;
    width: 100%;
}
header  nav > ul > li{
    list-style: none;
    display: table-cell;
    width: 25%;
    border-left: 1px solid #202020;
    text-align: center;
}
/*ביטול הקו בתפריט לאחר המילה האחרונה*/
header  nav > ul > li:last-child{
    border-left: none;
}
header nav ul li a{
    color: #175352;
    font-size: 16px;
}
header nav ul li a.active{
    font-weight: bold;
	color: #175352;
    text-decoration: underline;
}
/*נועד לשנות סמן עכבר לכניסה לא מורשית, השתמשנו בו רק באמצע תהליך הפיתוח מאחר והאתר במצבו הנוכחי לא זקוק לו*/
.disabled a{
    cursor: not-allowed;
    font-weight: normal;
}

/*עיצוב הטקסט בפתיח*/
.my-slide{
    display: none;
}
.my-slide h1 {
    color: #175352;
    font-size: 54px;
}
.my-slide h1 span{
    font-weight: bold;
}

/*עיצוב כרטיסיות הפוסטים בתוכן העמוד*/
.my-card{
    background-color: #fff;
}

.my-card header{
    padding-top: 5px;
}
.my-card header h1{
    color: #175352;
    font-weight: bold;
    font-size: 32px;
}
.my-card .dots{
    font-size: 32px;
    font-weight: bold;
}
.my-card .button{
    background-color: #175352;
    color: white;
    display: inline-block;
    padding: 5px 20px;
}

.my-card .card-image{
    margin-bottom: 10px;
    overflow: hidden;
	
}
.my-card .card-image img{
    transition: transform .4s; /* Animation */
}

/*אינטרקציה של שינוי גודל התמונה במעבר עכבר*/
.my-card .card-image img:hover{
    transform: scale(1.04);
}
.my-card .card-content,
.my-card footer{
    width: 95%;
    margin: 0 auto;
}
.my-card footer {
    border-top: 2px solid black;
    padding: 10px 0;
}

.my-card .card-image{
    position: relative;
}
.my-card .card-image img{
    z-index: 100;

}
/*עיצוב האינטרקציה של הלב לבן בלחיצה כפולה על תמונה המדמה פעימה*/
.my-card .heart-animation{
    position: absolute;
    top: 20%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.75s;
    z-index: -1;
    text-align: center;

}

/*מטפל בבעיית טקסט גולש מהמסגרת של הכטיסיות בזמן רענון הדף*/
.abstract-content {
    display: none;
}

.first-slide{
    display: block;
    visibility: hidden;
    min-height: 100px;
}
/*קביעת גודל הטקסט בקרוסלה*/
.abstract-content p{
    font-size: 1.125rem;
}
/*קביעת מיקום נקודות שמציגות את מקומך בקרוסלה*/
.slick-dots{
    bottom: -10px;
}
.slick-dotted.slick-slider{
    margin-bottom: 20px;
}

/*טיפול בבעיית עברית בקרוסלה*/
[dir='rtl'] .slick-next{
    left: -5px;
}
[dir='rtl'] .slick-prev{
    right: -5px;
}
[dir='rtl'] .slick-next:before,
[dir='rtl'] .slick-prev:before{
    color:black;
}
.slick-prev, .slick-next{
    z-index: 10;
}
.slick-initialized .slick-slide {
    padding: 0 20px;
}

/*עיצוב קישוטי הבועות באתר*/
.bubbles-ver{
    background: url('../images/bubbles-vertical.png') repeat-y;
}

.bubbles-h{
    min-height: 81px;
    background: url('../images/bubbles-horizontal.png') repeat-x;

}

/*עיצוב עיגול הרקע בפתיח שעליו יושבת התמונה של ליאת*/
.circleBase {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: #7a9f8e;
    overflow: hidden;

    margin-bottom: -50px;
    margin-right: 85px;
}

/*הנגשת האתר באפשרות לדלג ישר לתוכן ולעקוף את התפריטים*/
#skip{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none;
}

#skip li{ list-style-type: none }

#skip a{
    position: absolute;
    right: -99999px;
    top: 30px;
}

#skip a:focus, #skip a:active{
    position: relative;
    right: 0;
    z-index:9999;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 30px 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px !important;
/* color information, edit this to suit the colors of your layout */
    color: #AEAEFE;
    background: transparent url(transparent.png) repeat scroll 0 0;
    border: 1px dotted #ffb4db;
}
.accessibility{
    position: absolute;
    right: -99999px;
    height: 10px;
    width: 10px
}

 /* First font-size fallback to older browsers*/
.accessibility-font {
   
    font-size: 1.25em;
}

.accessibility-contrast {
    color: #fff;
    background: #000;
}
/* Animation */
@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/*נועד להצגת טקסט כקישור*/
.mail {
	text-align: center;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

/*תבנית לייצוג האינטרקטיבי*/
.interactive {
	width: 1336px;
	height: 640px;
	overflow: hidden;
	background-color: white;
}

/*הגדרות שונות לרספונסיביות לאתר*/
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
    .my-slide h1 {
        font-size: 2.75rem;
    }

    .mt-10{
        margin-top: 5rem;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1336px;
    }
    .my-slide h1 {
        font-size: 3.875rem;
    }
	.my-card .card-image{
		max-height:200px;
	}
    header nav ul li a{
        font-size: 18px;
    }
}

@media (min-width: 1400px) {

}