body{
    direction: rtl;
    text-align: right;
    background-color: #ddb69c;
    font-family: Calibri, sans-serif, Arial, Verdana, "Trebuchet MS";
}
p, a, h1, h2, h3, h4, h5, h6, span{
    font-family: inherit;
}

img{
    max-width: 100%;
}

.mt-10{
    margin-top: 5rem;
}
.negative-margin{
    margin-top: -2rem;
}

.top-wrapper{
    background-color: #fff;
	opacity:0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-logo,
.main-logo{

}
header.header{
    border-bottom: 20px solid #fff;
    margin-bottom: 30px;
}
header nav{
    padding-top: 12px;
}

main{

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: #175352;
    font-size: 18px;
}
header nav ul li a.active{
    font-weight: bold;
    text-decoration: underline;
}

.my-slide h1 {
    color: #175352;
    font-size: 54px;
}
.my-slide h1 span{
    font-weight: bold;
}

.my-card{
    background-color: #fff;
}

.my-card header{
    padding-top: 5px;
}
.my-card header h1{
    color: #175352;
    font-weight: bold;
    font-size: 32px;
}
.my-card .dots{
    font-size: 32px;
    font-weight: bold;
}
.my-card .button{
    background-color: #175352;
    color: white;
    display: inline-block;
    padding: 5px 20px;
}

.my-card .card-image{
    margin-bottom: 10px;
}
.my-card .card-content,
.my-card footer{
    width: 95%;
    margin: 0 auto;
}
.my-card footer {
    border-top: 2px solid black;
    padding: 10px 0;
}



.bubbles-ver{
    background: url('../images/bubbles-vertical.png') repeat-y;
}

footer.footer{
    min-height: 81px;
    background: url('../images/bubbles-horizontal.png') repeat-x;

}

.circleBase {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: #7a9f8e;
    overflow: hidden;
}


/* Animation */
@keyframes caret {
    50% {
        border-color: transparent;
    }
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
.container {
        max-width: 1336px;
    }
    .my-slide h1 {
        font-size: 44px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1336px;
    }
    .my-slide h1 {
        font-size: 64px;
    }
}

@media (min-width: 1400px) {
}